<div class="alert alert-info mt-5 container p-5">
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia temporibus
    recusandae ab, quaerat maxime magnam itaque sequi expedita cum quos sit
    provident similique amet ipsa. Placeat totam iusto qui eum!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia temporibus
    recusandae ab, quaerat maxime magnam itaque sequi expedita cum quos sit
    provident similique amet ipsa. Placeat totam iusto qui eum!
  </p>
  <button class="btn btn-dark">Show More</button>
</div>
