<!-- <div class="container">
  <app-product [myProduct]="product" [trackName]="'dotnet'" />

  <button class="btn btn-success" (click)="getOffer()">Get Offer</button>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-content />
    </div>
    <div class="col-md-6">
      <app-content>
        <h2>Dotnet Track</h2>
        <p class="alert alert-dark p-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          voluptatum laboriosam nemo assumenda commodi quis veritatis laborum
          vero saepe distinctio. Ea perferendis id atque molestiae ex aliquid
          sit corporis fugit?
        </p>
        <button class="btn btn-outline-info">Show More</button>
      </app-content>
    </div>
  </div>
</div>
