<div class="border p-5 my-5 rounded">
  <h1>Content Component</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus commodi
    fuga odio voluptatem! Consequuntur amet, expedita similique atque ut dolorum
    earum repudiandae reiciendis laborum aliquam, iste, eos pariatur sed eaque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus commodi
    fuga odio voluptatem! Consequuntur amet, expedita similique atque ut dolorum
    earum repudiandae reiciendis laborum aliquam, iste, eos pariatur sed eaque?
  </p>
  <ng-content />
</div>
