<div class="bg-light p-5">
  <div class="container">
    <h1 class="text-center mb-5">One Way Binding & Event Binding</h1>

    <img [src]="imgSrc1" />
    <p class="fs-1 lead mt-5">{{ trackName }}</p>
    <button (click)="clickHandler()" class="btn btn-dark">Click</button>
    <!-- <img src="images/{{ imgSrc1 }}" /> -->
    <!-- <img src="images/{{ imgSrc1 }}" />

   <p class="fs-1 lead mt-5">{{ trackName }}</p>
    <p class="fs-1 lead mt-5">{{ flag ? " Dotnet" : "PHP" }}</p>
    <p class="fs-1 lead mt-5">{{ age }}</p>
    <p class="fs-1 lead mt-5">{{ "hello dotnet track" }}</p> -->
  </div>
</div>
