* {
	font-family: "Arial";
	padding: 0;
	margin: 0;
}

div {
	background-color: #eee;
	padding: 20px;
}

button {
	background-color: rgb(17, 77, 117);
	width: 170px;
	border: 0;
	padding: 5px;
	cursor: pointer;
	margin: 10px;
	color:#fff;
	border-radius: 5px;
}

.p1{
	background-color: #f5f2f2;
	padding: 30px;

	margin: 10px;
}

p.test{
	font-size: 12px;
}
input[type='text']{
    display: block;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
}
span{
    display: block;
    margin: 20px;
    color:red;
}

img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.jsClass{
	background-color: palevioletred;
	padding:20px
}